{{ define "main" }}
<main class="col-span-12 lg:col-span-8 lg:col-start-3">
  <div class="p-6 rounded" style='background-image: url("{{ relURL "images/background-2.jpg" }}")'>
    <header class='my-5  rounded ' >
      <h1 class="text-3xl">{{.Title}}</h1>
      {{ with .Site.Params.subtitle }}
      <p class="subtitle">{{.}}</p>
      {{ end }}
    </header>
  </div>
  {{/*  获取常规页面  */}}
  {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{/*  获取所有页面，并且 hidden != true  */}}
  {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
  {{/*  两数组公共部分  */}}
  {{ $filtered := ($pages | intersect $notHidden) }}
  {{/*  分页  */}}
  {{ $pag := .Paginate ($filtered) }}
  <div class="prose max-w-none prose-h1:my-4 prose-h2:my-3 prose-h3:my-2">
    {{.Content}}
  </div>
  <div>
    <div>
      {{ range $index, $element := $pag.Pages }}
      <div class="shadow-xl my-4 p-4 card rounded-e-full">
          <a href="{{ .Permalink }}">
            <p class="text-2xl">{{ .Title }}
              <small class="text-sm">{{- T "article.lastUpdatedOn"  -}}: {{ .Date.Format (default "January 2, 2006" .Site.Params.DateFormat) -}}</small>
            </p>
            <p class="fs-6">{{ .Summary }}</p>
          </a>
        </div>
      {{ end }}
    </div>
    {{- template "partials/pagination.html" . -}}
  </div>
</main>
{{ end }}

{{- define "petiteVueScript" -}}
<script>
  Object.assign(vueObj,{

  })
</script>
{{-  end -}}

