<nav class="navbar navbar-expand-md bg-light text-dark fixed-top shadow-sm p-2">
  <div class="container">
    <a class="navbar-brand text-dark" href='{{ relURL "" }}'>
      <i class="bi bi-bank"></i>
      {{ .Site.Title }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <i class="bi bi-justify fs-3"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{/*  判断当前页面url 和 菜单链接url是否相等，激活菜单  */}}
        {{ $active := eq (.URL | relLangURL) ($currentPage.RelPermalink | relLangURL) }}
        <li class="nav-item ms-2">
          <a class="nav-link text-dark {{ if $active }}active{{ end }}" href="{{ .URL | relLangURL }}">
            {{- .Pre -}}&nbsp;
            {{/*  default DEFAULT input 如果获取的i8in为空，则默认设置.Name  */}}
            {{ lower .Identifier | printf "widget.%s.title" | T | default .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>