{{/*  页码数量大于 1  */}}
{{- if gt .Paginator.TotalPages 1 -}}
<div class="flex items-center justify-between border-gray-200 px-4 py-3 sm:px-6">
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-center border-t">
      <nav class="isolate inline-flex -space-x-px rounded-md ">
        {{- .Scratch.Set "paginator.ellipsed" false -}}
        {{- range $.Paginator.Pagers -}}
        {{- $right := sub .TotalPages .PageNumber -}}
        {{- $showNumber := or (le .PageNumber 1) (eq $right 0) -}}
        {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $.Paginator.PageNumber 3)) (lt .PageNumber (add $.Paginator.PageNumber 3))) -}}
        {{- if $showNumber -}}
        {{- $.Scratch.Set "paginator.ellipsed" false -}}
        {{- $.Scratch.Set "paginator.shouldEllipse" false -}}
        {{- else -}}
        {{- $.Scratch.Set "paginator.shouldEllipse" (not ($.Scratch.Get "paginator.ellipsed") ) -}}
        {{- $.Scratch.Set "paginator.ellipsed" true -}}
        {{- end -}}
        {{- if $showNumber -}}
        <a href="{{ .URL }}" class="relative block items-center px-4 py-2 text-gray-900 hover:border-t-2 {{ if eq . $.Paginator }} border-t-2 border-t-blue-600 {{ end }}">{{- .PageNumber -}}</a>
        {{- else if ($.Scratch.Get "paginator.shouldEllipse") -}}
        <span class="relative block items-center px-4 py-2 text-gray-900 hover:border-t-2">...</span>
        {{- end -}}
        {{- end -}}
      </nav>
  </div>
</div>
{{- end -}}
