:root{
  box-sizing: border-box;
  font-size: calc( 0.8em + 0.2vw );
}

*,
::after,
::before{
  box-sizing:inherit;
}

body {
  font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(182, 182, 182, 0.575);
  border-radius: 2em;
}

::-webkit-scrollbar-track {
  background: 0 0;
  border-radius: 2em;
}