/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer 会删除未使用的样式 */
@layer components {
    .toc-left::before{
        /*@apply before:content-[''] before:absolute before:top-0 before:bottom-0 before:-z-10 before:w-[2px] before:inset-x-0 before:bg-[#eaecef];*/
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -10;
        width: 2px;
        inset-inline-start: 0;
        background: #eaecef;
        display: inline-block;
        height: inherit;
    }
    .toc{
        @apply list-none;
        max-height: 75vh;
        position: relative;
        overflow-y: auto;
        #TableOfContents{
            ol:only-child{
                display: block;
                margin: .5rem 0;
                padding-left: 2rem;
            }
            ol:not(ol:only-child){
                display: block;
                /*margin: .2rem 0;*/
                padding-left: 1rem;
            }
            li{
                display: block;
                margin: .2rem 0;
            }

        }
    }
    .toc-active{
        position: relative;
        color: #096dd9;
    }
    .highlight{
        overflow: auto;
        position: relative;
        .ln{
            position: sticky;
            left: 0;
        }
    }

    .card {
        @apply rounded-lg shadow-sm p-4
    }

    .theme-base{
        @apply font-sans text-base bg-gray-50
    }
    .theme-header{
        @apply relative lg:sticky top-0 bg-opacity-95 shadow-md z-50 h-16 bg-gray-50
    }
    .theme-post-prose{
        @apply prose max-w-none prose-h1:my-4 prose-h2:my-3 prose-h3:my-2 prose-table:block prose-table:overflow-x-auto
    }
    .theme-sm-post-toc{
        @apply prose prose-a:no-underline prose-li:list-none prose-ul:my-1 prose-li:my-0 max-h-[70vh] overflow-y-auto
    }
    .theme-about{
        @apply prose max-w-none prose-h1:my-4 prose-h2:my-3 prose-h3:my-2
    }
    .theme-footer{
        @apply px-3 py-8 text-gray-500 transition-colors duration-200 bg-white
    }
    .highlight{
        /* Background */ background-color: #ffffff;
        /* PreWrapper */ .chroma { background-color: #ffffff; }
        /* Other */ .chroma .x {  }
        /* Error */ .chroma .err { color: #a61717; background-color: #e3d2d2 }
        /* CodeLine */ .chroma .cl {  }
        /* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
        /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
        /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
        /* LineHighlight */ .chroma .hl { background-color: #e5e5e5 }
        /* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
        /* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f ;background-color: #ffffff }
        /* Line */ .chroma .line { display: flex; }
        /* Keyword */ .chroma .k { color: #000000; font-weight: bold }
        /* KeywordConstant */ .chroma .kc { color: #000000; font-weight: bold }
        /* KeywordDeclaration */ .chroma .kd { color: #000000; font-weight: bold }
        /* KeywordNamespace */ .chroma .kn { color: #000000; font-weight: bold }
        /* KeywordPseudo */ .chroma .kp { color: #000000; font-weight: bold }
        /* KeywordReserved */ .chroma .kr { color: #000000; font-weight: bold }
        /* KeywordType */ .chroma .kt { color: #445588; font-weight: bold }
        /* Name */ .chroma .n {  }
        /* NameAttribute */ .chroma .na { color: #008080 }
        /* NameBuiltin */ .chroma .nb { color: #0086b3 }
        /* NameBuiltinPseudo */ .chroma .bp { color: #999999 }
        /* NameClass */ .chroma .nc { color: #445588; font-weight: bold }
        /* NameConstant */ .chroma .no { color: #008080 }
        /* NameDecorator */ .chroma .nd { color: #3c5d5d; font-weight: bold }
        /* NameEntity */ .chroma .ni { color: #800080 }
        /* NameException */ .chroma .ne { color: #990000; font-weight: bold }
        /* NameFunction */ .chroma .nf { color: #990000; font-weight: bold }
        /* NameFunctionMagic */ .chroma .fm {  }
        /* NameLabel */ .chroma .nl { color: #990000; font-weight: bold }
        /* NameNamespace */ .chroma .nn { color: #555555 }
        /* NameOther */ .chroma .nx {  }
        /* NameProperty */ .chroma .py {  }
        /* NameTag */ .chroma .nt { color: #000080 }
        /* NameVariable */ .chroma .nv { color: #008080 }
        /* NameVariableClass */ .chroma .vc { color: #008080 }
        /* NameVariableGlobal */ .chroma .vg { color: #008080 }
        /* NameVariableInstance */ .chroma .vi { color: #008080 }
        /* NameVariableMagic */ .chroma .vm {  }
        /* Literal */ .chroma .l {  }
        /* LiteralDate */ .chroma .ld {  }
        /* LiteralString */ .chroma .s { color: #dd1144 }
        /* LiteralStringAffix */ .chroma .sa { color: #dd1144 }
        /* LiteralStringBacktick */ .chroma .sb { color: #dd1144 }
        /* LiteralStringChar */ .chroma .sc { color: #dd1144 }
        /* LiteralStringDelimiter */ .chroma .dl { color: #dd1144 }
        /* LiteralStringDoc */ .chroma .sd { color: #dd1144 }
        /* LiteralStringDouble */ .chroma .s2 { color: #dd1144 }
        /* LiteralStringEscape */ .chroma .se { color: #dd1144 }
        /* LiteralStringHeredoc */ .chroma .sh { color: #dd1144 }
        /* LiteralStringInterpol */ .chroma .si { color: #dd1144 }
        /* LiteralStringOther */ .chroma .sx { color: #dd1144 }
        /* LiteralStringRegex */ .chroma .sr { color: #009926 }
        /* LiteralStringSingle */ .chroma .s1 { color: #dd1144 }
        /* LiteralStringSymbol */ .chroma .ss { color: #990073 }
        /* LiteralNumber */ .chroma .m { color: #009999 }
        /* LiteralNumberBin */ .chroma .mb { color: #009999 }
        /* LiteralNumberFloat */ .chroma .mf { color: #009999 }
        /* LiteralNumberHex */ .chroma .mh { color: #009999 }
        /* LiteralNumberInteger */ .chroma .mi { color: #009999 }
        /* LiteralNumberIntegerLong */ .chroma .il { color: #009999 }
        /* LiteralNumberOct */ .chroma .mo { color: #009999 }
        /* Operator */ .chroma .o { color: #000000; font-weight: bold }
        /* OperatorWord */ .chroma .ow { color: #000000; font-weight: bold }
        /* Punctuation */ .chroma .p {  }
        /* Comment */ .chroma .c { color: #999988; font-style: italic }
        /* CommentHashbang */ .chroma .ch { color: #999988; font-style: italic }
        /* CommentMultiline */ .chroma .cm { color: #999988; font-style: italic }
        /* CommentSingle */ .chroma .c1 { color: #999988; font-style: italic }
        /* CommentSpecial */ .chroma .cs { color: #999999; font-weight: bold; font-style: italic }
        /* CommentPreproc */ .chroma .cp { color: #999999; font-weight: bold; font-style: italic }
        /* CommentPreprocFile */ .chroma .cpf { color: #999999; font-weight: bold; font-style: italic }
        /* Generic */ .chroma .g {  }
        /* GenericDeleted */ .chroma .gd { color: #000000; background-color: #ffdddd }
        /* GenericEmph */ .chroma .ge { color: #000000; font-style: italic }
        /* GenericError */ .chroma .gr { color: #aa0000 }
        /* GenericHeading */ .chroma .gh { color: #999999 }
        /* GenericInserted */ .chroma .gi { color: #000000; background-color: #ddffdd }
        /* GenericOutput */ .chroma .go { color: #888888 }
        /* GenericPrompt */ .chroma .gp { color: #555555 }
        /* GenericStrong */ .chroma .gs { font-weight: bold }
        /* GenericSubheading */ .chroma .gu { color: #aaaaaa }
        /* GenericTraceback */ .chroma .gt { color: #aa0000 }
        /* GenericUnderline */ .chroma .gl { text-decoration: underline }
        /* TextWhitespace */ .chroma .w { color: #bbbbbb }
    }
    html[data-theme=dark]{
        .theme-base{
            @apply font-sans text-base bg-gray-600 text-amber-50
        }
        .theme-header{
            @apply relative lg:sticky top-0 bg-opacity-95 shadow-md z-50 h-16 bg-gray-600
        }
        .theme-post-prose{
            @apply prose-invert max-w-none prose-h1:my-4 prose-h2:my-3 prose-h3:my-2 prose-table:block prose-table:overflow-x-auto
        }
        .theme-sm-post-toc{
            @apply prose-invert prose-a:no-underline prose-li:list-none prose-ul:my-1 prose-li:my-0 max-h-[70vh] overflow-y-auto
        }
        .theme-about{
            @apply prose-invert max-w-none prose-h1:my-4 prose-h2:my-3 prose-h3:my-2
        }
        .theme-footer{
            @apply px-3 py-8 transition-colors duration-200 bg-gray-600  text-amber-50
        }
        .highlight{

            /* Background */ color: #e2e4e5; background-color: #282a36;
            /* PreWrapper */ .chroma { color: #e2e4e5; background-color: #282a36; }
            /* Other */ .chroma .x {  }
            /* Error */ .chroma .err { color: #ff5c57 }
            /* CodeLine */ .chroma .cl {  }
            /* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
            /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
            /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
            /* LineHighlight */ .chroma .hl { background-color: #ffffcc }
            /* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
            /* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #e2e4e5;background-color: #5c5f6f; }
            /* Line */ .chroma .line { display: flex; }
            /* Keyword */ .chroma .k { color: #ff6ac1 }
            /* KeywordConstant */ .chroma .kc { color: #ff6ac1 }
            /* KeywordDeclaration */ .chroma .kd { color: #ff5c57 }
            /* KeywordNamespace */ .chroma .kn { color: #ff6ac1 }
            /* KeywordPseudo */ .chroma .kp { color: #ff6ac1 }
            /* KeywordReserved */ .chroma .kr { color: #ff6ac1 }
            /* KeywordType */ .chroma .kt { color: #9aedfe }
            /* Name */ .chroma .n {  }
            /* NameAttribute */ .chroma .na { color: #57c7ff }
            /* NameBuiltin */ .chroma .nb { color: #ff5c57 }
            /* NameBuiltinPseudo */ .chroma .bp {  }
            /* NameClass */ .chroma .nc { color: #f3f99d }
            /* NameConstant */ .chroma .no { color: #ff9f43 }
            /* NameDecorator */ .chroma .nd { color: #ff9f43 }
            /* NameEntity */ .chroma .ni {  }
            /* NameException */ .chroma .ne {  }
            /* NameFunction */ .chroma .nf { color: #57c7ff }
            /* NameFunctionMagic */ .chroma .fm {  }
            /* NameLabel */ .chroma .nl { color: #ff5c57 }
            /* NameNamespace */ .chroma .nn {  }
            /* NameOther */ .chroma .nx {  }
            /* NameProperty */ .chroma .py {  }
            /* NameTag */ .chroma .nt { color: #ff6ac1 }
            /* NameVariable */ .chroma .nv { color: #ff5c57 }
            /* NameVariableClass */ .chroma .vc { color: #ff5c57 }
            /* NameVariableGlobal */ .chroma .vg { color: #ff5c57 }
            /* NameVariableInstance */ .chroma .vi { color: #ff5c57 }
            /* NameVariableMagic */ .chroma .vm {  }
            /* Literal */ .chroma .l {  }
            /* LiteralDate */ .chroma .ld {  }
            /* LiteralString */ .chroma .s { color: #5af78e }
            /* LiteralStringAffix */ .chroma .sa { color: #5af78e }
            /* LiteralStringBacktick */ .chroma .sb { color: #5af78e }
            /* LiteralStringChar */ .chroma .sc { color: #5af78e }
            /* LiteralStringDelimiter */ .chroma .dl { color: #5af78e }
            /* LiteralStringDoc */ .chroma .sd { color: #5af78e }
            /* LiteralStringDouble */ .chroma .s2 { color: #5af78e }
            /* LiteralStringEscape */ .chroma .se { color: #5af78e }
            /* LiteralStringHeredoc */ .chroma .sh { color: #5af78e }
            /* LiteralStringInterpol */ .chroma .si { color: #5af78e }
            /* LiteralStringOther */ .chroma .sx { color: #5af78e }
            /* LiteralStringRegex */ .chroma .sr { color: #5af78e }
            /* LiteralStringSingle */ .chroma .s1 { color: #5af78e }
            /* LiteralStringSymbol */ .chroma .ss { color: #5af78e }
            /* LiteralNumber */ .chroma .m { color: #ff9f43 }
            /* LiteralNumberBin */ .chroma .mb { color: #ff9f43 }
            /* LiteralNumberFloat */ .chroma .mf { color: #ff9f43 }
            /* LiteralNumberHex */ .chroma .mh { color: #ff9f43 }
            /* LiteralNumberInteger */ .chroma .mi { color: #ff9f43 }
            /* LiteralNumberIntegerLong */ .chroma .il { color: #ff9f43 }
            /* LiteralNumberOct */ .chroma .mo { color: #ff9f43 }
            /* Operator */ .chroma .o { color: #ff6ac1 }
            /* OperatorWord */ .chroma .ow { color: #ff6ac1 }
            /* Punctuation */ .chroma .p {  }
            /* Comment */ .chroma .c { color: #78787e }
            /* CommentHashbang */ .chroma .ch { color: #78787e }
            /* CommentMultiline */ .chroma .cm { color: #78787e }
            /* CommentSingle */ .chroma .c1 { color: #78787e }
            /* CommentSpecial */ .chroma .cs { color: #78787e }
            /* CommentPreproc */ .chroma .cp { color: #78787e }
            /* CommentPreprocFile */ .chroma .cpf { color: #78787e }
            /* Generic */ .chroma .g {  }
            /* GenericDeleted */ .chroma .gd { color: #ff5c57 }
            /* GenericEmph */ .chroma .ge { text-decoration: underline }
            /* GenericError */ .chroma .gr { color: #ff5c57 }
            /* GenericHeading */ .chroma .gh { font-weight: bold }
            /* GenericInserted */ .chroma .gi { font-weight: bold }
            /* GenericOutput */ .chroma .go { color: #43454f }
            /* GenericPrompt */ .chroma .gp {  }
            /* GenericStrong */ .chroma .gs { font-style: italic }
            /* GenericSubheading */ .chroma .gu { font-weight: bold }
            /* GenericTraceback */ .chroma .gt {  }
            /* GenericUnderline */ .chroma .gl { text-decoration: underline }
            /* TextWhitespace */ .chroma .w {  }
        }
    }
}



