<!DOCTYPE html>
<html lang="zh-Hans-CN" class="scroll-pt-20" data-theme="light">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>
    {{- partial "head.html" . -}}
    {{- block "head" . -}}{{- end -}}
</head>

<body class="font-sans text-base bg-gray-50">
<div id="app">
    <div class="theme-container">
        <header class="relative lg:sticky top-0 bg-white bg-opacity-95 shadow-md z-30">
            {{- partial "header.html" . -}}
        </header>
        <div class="container mx-auto my-3">
            <div class="p-2 lg:p-0 grid grid-rows-1 gap-x-8 grid-cols-12 min-h-screen">
                <div class="col-span-12 lg:col-span-8 ">
                    {{- block "main" . }}{{- end -}}
                </div>
                <div class="hidden lg:block lg:col-span-4">
                    {{- partial "right.html" . -}}
                    {{- block "right" . }}{{- end -}}
                </div>
            </div>
        </div>
        <div>
            {{- partialCached "footer.html" . -}}
        </div>
        <div id="return-top" class="hidden fixed bottom-12 right-12 hover:text-amber-700">
            <i class="iconfont icon-top text-3xl"></i>
        </div>
    </div>
</div>
</body>
<script>
    const vueObj={}
</script>
{{- block "petiteVueScript" . }}{{- end -}}
<script>
    let obj={}
    for (let vueObjKey in vueObj) {
        obj={
            ...obj,
            ...vueObj[vueObjKey]
        }
    }
    console.log(`当前页vue参数列表如下：`)
    console.log(${obj})
    PetiteVue.createApp({
        $delimiters: ['[[', ']]'],
        ...obj
    }).mount()
</script>
</html>