<!DOCTYPE html>
<html lang="zh-Hans-CN" class="scroll-pt-20" data-theme="light">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>
    {{- partial "head.html" . -}}
    {{- block "head" . -}}{{- end -}}
</head>

<body class="font-sans text-base bg-gray-50">
<div id="app">
    <div class="theme-container">
        {{- partial "header.html" . -}}
        <div class="container mx-auto">
            <div class="py-2 mt-6 lg:p-0 grid grid-rows-1 grid-cols-12 min-h-[90vh]">
                {{- block "left" . }}{{- end -}}
                {{- block "main" . }}{{- end -}}
                {{- block "right" . }}{{- end -}}
            </div>
        </div>
        {{- partialCached "footer.html" . -}}
        <div id="return-top" class="hidden fixed bottom-12 right-12 hover:text-amber-700">
            <i class="iconfont icon-top text-3xl"></i>
        </div>
    </div>
</div>
</body>
{{- block "script" . }}{{- end -}}
<script>
    <!--  全局 vueObj对象  -->
    const vueObj={}
</script>
{{- block "petiteVueScript" . }}{{- end -}}
<script type="module">
    import * as PetiteVue from '{{ relURL "lib/petite-vue/petite-vue.es.js" }}';
    let obj={}
    for (let vueObjKey in vueObj) {
        obj={
            ...obj,
            ...vueObj[vueObjKey]
        }
    }
    PetiteVue.createApp({
        $delimiters: ['[[', ']]'],
        ...obj
    }).mount()
</script>
</html>