{{ define "main" }}
{{ $fontUnit := "rem" }}
{{ $largestFontSize := 2.0 }}
{{ $smallestFontSize := 1.0 }}
{{ $fontSpread := sub $largestFontSize $smallestFontSize }}
{{ $max := add (len (index .Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
{{ $min := len (index .Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
{{ $spread := sub $max $min }}
{{ $fontStep := div $fontSpread $spread }}

<div class="row p-3 justify-content-center align-self-center">
    <div class="col-md-8">
        <main>
            <h1>{{ lower .Title | printf "widget.%s.title" | T | default .Title }}</h1>
            <div class="tags-cloud">
                {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.tags }}
                {{ $currentTagCount := len $taxonomy.Pages }}
                {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
                {{ $count := len $taxonomy.Pages }}
                {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
                {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth) )
                }}
                <a href='{{ .Page.RelPermalink }}'
                    style="font-size: {{$currentFontSize}}{{$fontUnit}}">
                    {{- $taxonomyname -}}<small class="ms-1">{{- .Len -}}</small>
                </a>
                {{ end }}
            </div>
        </main>
    </div>
</div>
{{ end }}