{{ define "main" }}
<main>
    <article>
        <header>
            <h1 class="text-3xl">{{ lower .Title | printf "widget.%s.title" | T | default .Title }}</h1>
        </header>
        {{.Content}}
    </article>
    <div>
        {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{- if .Site.Params.ShowAllPagesInArchive }}
        {{- $pages = site.RegularPages }}
        {{- end }}
        {{- range $pages.GroupByPublishDate "2006" }}
        {{- if ne .Key "0001" }}
        <div class="bg-white rounded-lg shadow-sm px-6 py-3 my-3">
            <h5 class="text-2xl">{{- .Key -}}</h5>
            <div class="border-s-2 ps-4">
                {{- range .Pages.GroupByDate "01" }}
                {{- range .Pages }}
                {{- if eq .Kind "page" }}
                <li class="flex justify-between gap-x-6 py-3">
                    <div class="flex min-w-0 gap-x-4">
                        <div class="min-w-0 flex-auto">
                            <a href="{{ .RelPermalink }}"><p class=" leading-6 text-gray-900">{{- .Title }}</p></a>
                            <p class="mt-1 truncate text-xs leading-5 text-gray-500 flex">
                                {{ range (.GetTerms "tags") }}
                                    <a class="text-sm text-slate-950 rounded-xl shadow-2xl bg-gray-300 mx-1 px-2 block py-2 hover:bg-gray-600 hover:text-slate-100" href='{{ .RelPermalink }}'>{{- .LinkTitle -}}</a>
                                {{- end }}
                            </p>
                        </div>
                    </div>
                    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                        <p class="text-sm leading-6 text-gray-900">lei</p>
                        <p class="mt-1 text-xs leading-5 text-gray-500">日期 <time>{{.Date.Format (default "January 2, 2006" .Site.Params.DateFormat)}}</time></p>
                    </div>
                </li>
                {{- end }}
                {{- end }}
                {{- end }}
            </div>
        </div>
        {{- end }}
        {{- end }}
    </div>
</main>
{{ end }}