{{ define "head" }}
<script type="text/javascript" src='{{ relURL "lib/echarts.min.js" }}'></script>
{{ end }}
{{ define "main" }}
<div class="col-span-12">
    <div class="max-w-none">
        {{ .Content }}
        <div id="chart1" class="m-2 w-full h-[400px]"></div>
        <div id="chart2" class="m-2 w-full h-[400px]"></div>
    </div>
</div>
<script>
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('chart1'));
    var myChart2 = echarts.init(document.getElementById('chart2'));
    // 指定图表的配置项和数据
    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption({
        title: {
            text: '全国6月销售统计',
            textStyle: {
                fontSize: 12,
                fontWeight: 400
            },
            left: 'center',
            top: '5%'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        color: ['#1891FF', '#12C3C3', '#FBCD14', '#F14864', '#8542E1', '#7DA6FF', '#4AC312', '#FB8F14', '#F148E7'],
        legend: {
            orient: 'vertical',
            x: 'left',
            left: 10,
            //right: 10,
            top: 20,
            //bottom: 20,
            data: ['二电一期', '二电二期', '二电三期', '二电南线', '大唐一期', '大唐二期']
        },
        series: [
            {
                name: '大唐热源占比',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                label: {
                    normal: {

                        // formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                        formatter: '{b|{b}：}{c}   {per|{d}%} ',
                        // backgroundColor: '#eee',
                        // borderColor: '#aaa',
                        // borderWidth: 1,
                        // borderRadius: 4,
                        rich: {
                            // a: {
                            //     color: '#999',
                            //     lineHeight: 22,
                            //     align: 'center'
                            // },
                            // hr: {
                            //     borderColor: '#aaa',
                            //     width: '100%',
                            //     borderWidth: 0.5,
                            //     height: 0
                            // },
                            // b: {
                            //     fontSize: 16,
                            //     lineHeight: 33
                            // },
                            per: {
                                color: '#eee',
                                backgroundColor: '#334455',
                                padding: [2, 4],
                                borderRadius: 13,
                                // center: ['50%', '50%']
                                //  position: 'inside',
                            }
                        }
                    }
                },
                data: [
                    {value: 335, name: '二电一期', selected: true},
                    {value: 310, name: '二电二期', selected: true},
                    {value: 234, name: '二电三期', selected: true},
                    {value: 135, name: '二电南线', selected: true},
                    {value: 154, name: '大唐一期', selected: true},
                    {value: 148, name: '大唐二期', selected: true}
                ],
                itemStyle: {
                    normal: {

                        // borderWidth: 4,
                        // borderColor: '#ffffff',
                        // label:{
                        //       position: 'inside',
                        // }
                    },


                    // normal: {
                    //     label: {
                    //         show: true,
                    //         position: 'inside',
                    //         // formatter: '{b} \n ({d}%)'
                    //     }
                    // },

                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }

                },
                labelLine: {
                    normal: {
                        length: 5,
                        length2: 1,
                        smooth: true,
                    }
                },
            }
        ]
    });

    myChart2.setOption({
        title: {
            text: '全国6月销售统计',
            textStyle: {
                fontSize: 12,
                fontWeight: 400
            },
            left: 'center',
            top: '5%'
        },
        legend: {
            icon: 'circle',
            top: '5%',
            right: '5%',
            itemWidth: 6,
            itemGap: 20,
            textStyle: {
                color: '#556677'
            }
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                label: {
                    show: true,
                    backgroundColor: '#fff',
                    color: '#556677',
                    borderColor: 'rgba(0,0,0,0)',
                    shadowColor: 'rgba(0,0,0,0)',
                    shadowOffsetY: 0
                },
                lineStyle: {
                    width: 0
                }
            },
            backgroundColor: '#fff',
            textStyle: {
                color: '#5c6c7c'
            },
            padding: [10, 10],
            extraCssText: 'box-shadow: 1px 0 2px 0 rgba(163,163,163,0.5)'
        },
        grid: {
            top: '15%'
        },
        xAxis: [{
            type: 'category',
            data: ['2020', '2021', '2022', '2023', '2024', '2025'],
            axisLine: {
                lineStyle: {
                    color: '#DCE2E8'
                }
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                interval: 0,
                textStyle: {
                    color: '#556677'
                },
                // 默认x轴字体大小
                fontSize: 12,
                // margin:文字到x轴的距离
                margin: 15
            },
            axisPointer: {
                label: {
                    // padding: [11, 5, 7],
                    padding: [0, 0, 10, 0],
                    /*
        除了padding[0]建议必须是0之外，其他三项可随意设置

        和CSSpadding相同，[上，右，下，左]

        如果需要下边线超出文字，设左右padding即可，注：左右padding最好相同

        padding[2]的10:

        10 = 文字距下边线的距离 + 下边线的宽度

        如：UI图中文字距下边线距离为7 下边线宽度为2

        则padding: [0, 0, 9, 0]

                    */
                    // 这里的margin和axisLabel的margin要一致!
                    margin: 15,
                    // 移入时的字体大小
                    fontSize: 12,
                    backgroundColor: {
                        type: 'linear',
                        x: 0,
                        y: 0,
                        x2: 0,
                        y2: 1,
                        colorStops: [{
                            offset: 0,
                            color: '#fff' // 0% 处的颜色
                        }, {
                            // offset: 0.9,
                            offset: 0.86,
                            /*
    0.86 = （文字 + 文字距下边线的距离）/（文字 + 文字距下边线的距离 + 下边线的宽度）

                            */
                            color: '#fff' // 0% 处的颜色
                        }, {
                            offset: 0.86,
                            color: '#33c0cd' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: '#33c0cd' // 100% 处的颜色
                        }],
                        global: false // 缺省为 false
                    }
                }
            },
            boundaryGap: false
        }],
        yAxis: [{
            type: 'value',
            axisTick: {
                show: false
            },
            axisLine: {
                show: true,
                lineStyle: {
                    color: '#DCE2E8'
                }
            },
            axisLabel: {
                textStyle: {
                    color: '#556677'
                }
            },
            splitLine: {
                show: false
            }
        }, {
            type: 'value',
            position: 'right',
            axisTick: {
                show: false
            },
            axisLabel: {
                textStyle: {
                    color: '#556677'
                },
                formatter: '{value}'
            },
            axisLine: {
                show: true,
                lineStyle: {
                    color: '#DCE2E8'
                }
            },
            splitLine: {
                show: false
            }
        }],
        series: [{
            name: 'Adidas',
            type: 'line',
            data: [10, 10, 30, 12, 15, 3, 7],
            symbolSize: 1,
            symbol: 'circle',
            smooth: true,
            yAxisIndex: 0,
            showSymbol: false,
            lineStyle: {
                width: 3,
            },
        }, {
            name: 'Nike',
            type: 'line',
            data: [5, 12, 11, 14, 25, 16, 10],
            symbolSize: 1,
            symbol: 'circle',
            smooth: true,
            yAxisIndex: 0,
            showSymbol: false,
            lineStyle: {
                width: 3,
            },
        },
            {
                name: '老北京布鞋',
                type: 'line',
                data: [8, 12, 32, 23, 12, 25, 1],
                symbolSize: 1,
                yAxisIndex: 0,
                symbol: 'circle',
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    width: 3,
                },
            }
        ]
    });
</script>
{{ end }}

{{- define "petiteVueScript" -}}
<script>
    vueObj["diagrams"] = {}
</script>
{{-  end -}}